body{
    margin: 0;
    padding: 0;
    background-color: #6abadeba;
    font-family: arial;
    background: url(saifff.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
}

.login {
    width: 382px;
    overflow: hidden;
    margin: 10px auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #23463f;
    border-radius: 15px;
    align-items: center;
    justify-content: center;

}

h2 {
    text-align: center;
    color: #277582;
    padding: 20px;
}

label {
    color: #08ffd1;
    font-size: 17px;
}

#Uname {
    width: 234px;
    height: 25px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    margin-top: 0.9em;
}

#Pass {
    width: 234px;
    height: 25px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    margin-bottom: 30px;
}

#log {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    margin-top: 0.9em;
    
}

span{
    color: white;
    font-size: 17px;    
}

a:hover{
    background-color: grey;
    /* display: block; */
}
#log:hover{
  display: block;
  color: tan;
} 

footer.footer{
    /* position: fixed; */
    /* text-align: center; */
    /* bottom: 0; */
    /* justify-content: center; */
    
 }
/* .avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline;
} */ 
#bg {
    min-height: 50%;
    min-width: 50px;
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.15;
    z-index: 1;
}

footer p {
    position: absolute;
    bottom: 0;
}